.title_search {
  form {
    display: flex;
    background: #fff;
    border: 1px var(--c1) solid;
    border-radius: var(--radius1);
    height: 40px;
    font-size: 14px;
  }

  input {
    width: calc(100% - 42px);
    height: 40px;
    background: none;
    border: none;
    padding: 0px 15px;
  }

  button {
    height: 39px;
    width: 115px;
    background: var(--c1);
    color: #fff;
    border: none;
    transition: var(--animation1);
    border-radius: 0px var(--radius1) var(--radius1) 0px;
  }

}