:root {
  --c1: #000000;
  --c2: #464646;
  --c3: #3862ED;

  --animation1: all .15s ease-out;
  --radius1: 0px;
  --shadow1: 0px 2px 16px 0px rgba(34, 60, 80, 0.2);
}

body {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  color: var(--c1);
}


.top_header {
  background: #fff;
  border-bottom: 1px #ddd solid;


  &_content {
    height: 45px;
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  // bitrix:menu in top_header_menu
}

.geo_position_set_city {
  // делаем свой компонент
  display: flex;
  align-items: center;
  svg {
    width: 13px;
    height: 16px;
    margin-right: 5px;
  }

  button {
    background: none;
    padding: 0;
    border: none;
    font-size: 13px;
  }

  span {
    color: var(--c3);
  }
}
